.git
.github
.gitignore
.env
.env.*
node_modules
vendor
storage/*.key
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
tests
*.md
Dockerfile
.dockerignore